.subtitle-principal-pc h2, .subtitle-principal-media h2{
    font-size: 5vmin;
    color: var(--color-bg-variant);
    text-align: center;
    
  }
  
  
  /* hero product */
  
  #heroDetalleProduct{
    margin-top: 5vh;
  }
  
  
  .heroDetalleProductContainer{
    width: 100%;
    height: 400px;
    background: url('./bgproducto.jpg');
  }

  #principal{
    background: rgb(16,26,38)
  }
  #divprincipal{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: white;

}
#parraf{
  font-size: small;
  justify-content: center;
}
.container1{
  margin-top: 18vh;
  margin-left: 8vh;
}
.container2{
  margin-top: 10vh;
  margin-left: 8vh;
}
.banner{
  background: url("./dekstop.jpeg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
  font-size: large;  
}
