footer{
    background: var(--color-bg-variant);
    color: whitesmoke;
    text-align: center;
    padding: 2vh;
    flex-wrap: wrap;
}

.footer__copyright {
    padding-top: 1vh;
}

.footer_toLink {
    justify-content: left;
    display: block;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1vh;
}

.footer__link {
    
    text-decoration: none;
    color: whitesmoke;
    
}

.footer__link:hover {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    padding: 10px;
}