swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.colorLike {
  color: red;
}



/* EQUIPOS READ MORE */

.equipments-Container {
  margin: 12px;
}

.equipments-ContTittle {
  background-color: black;
  padding-bottom: 2px;
  margin-top: 15vh;
  border-radius: 4px;
}

.equipments-Tittle {
  color: white;
  text-align: center;
  font-size: 50px;
}

.menuCentral {
  overflow: auto;
}

.equipments-menu {
  margin-top: 2vh;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 36%;

}

.equipments-menuItem {
  padding: 8px;
  margin: 20px;
  border: 1px solid grey;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(199, 201, 197, 0.062);
}

.equipments-image {
  float: right;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
  width: 40%;
 
}

.equipments-likes {
  font-size:xx-large;
  color: red;
  border-radius: 100%;
  padding: 10px;
  margin: 20px;
  width: 60px;
  height: 60px;
}

.equipments-main {
  float: left;
  width: 40%;
  padding: 0 20px;
  overflow: hidden;
  text-align: justify;
  font-size: larger;
  font-weight: bold;

}


.equipments-Comment {
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  border: 4px solid grey;
  border-radius: 10px;
  padding: 20px;
  text-align: justify;
}

@media only screen and (max-width:800px) {

  /* For tablets: */
  .equipments-menu,
  .equipments-image,
  .equipments-main {
      width: 100%;
  }
}

@media only screen and (max-width:500px) {

  /* For mobile phones: */
  .equipments-menu,
  .equipments-image,
  .equipments-main {
      width: 100%;
  }
}